---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import WhyBig from "../components/WhyBig.astro"
import About from "../components/About.astro"
import Products from "../components/Products.astro"
import Mission from "../components/Mission.astro"
import Contact from "../components/Contact.astro"
---

<Layout>
  <main>
    <Hero />
    <WhyBig />
    <About />
    <Products />
    <Mission />
    <Contact />
  </main>
</Layout>

<script>
  window.addEventListener("resize", () => {
    let vh = window.innerHeight * 0.01

    document.documentElement.style.setProperty("--vh", `${vh}px`)
  })
</script>
