---
import { Image } from "astro:assets"
import HeroImage from "../assets/hero-image.png"
---

<div class="flex flex-col gap-8 p-0 text-center sm:flex-row">
  <div class="p-[1.125em]">
    <h1 class="text-[2rem] text-white sm:text-5xl md:text-[5rem]">
      Creating A New World Of B2B E-Commerce Platform.
    </h1>
    <h2>Empower Your Retail Business With Our B2B E-Commerce Platform.</h2>
  </div>
  <div class="h-1/2 w-full sm:h-full">
    <Image
      class="h-full w-full object-cover object-center"
      src={HeroImage}
      alt="Mixed Pulses"
    />
  </div>
</div>
